/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 45rem;
	--dropdown-symbol-width: 1em;

	/* Typography */
	--global-font-family: "Rubik", sans-serif;
	--highlight-font-family: "Rubik", sans-serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-medium: calc(24 / var(--global-font-size) * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
	--font-size-xl: calc(48 / var(--global-font-size) * 1rem);

	/* Colors */
	--global-font-color: #000;
	--background-color: #fff;
	--content-background-color: #fff;
	--sub-content-background-color: #f6f6f6;
	--header-background-color: #1D9741;
	--footer-background-color: #062E13;
	--border-color-dark: #333;
	--border-color-light: #ccc;
	--color-link: #0073aa;
	--color-link-visited: #333;
	--color-link-active: #00a0d2;
	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor colors */
	--color-theme-primary: #1D9741;
	--color-theme-secondary: #E53935;
	--color-theme-red: #D32F2F;
	--color-theme-dark-red: #A92626;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-light-grey: #F8F9F7;
	--color-theme-white: #ffffff;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;

	@media (prefers-color-scheme: dark) {
		--global-font-color: #fff;
		--background-color: #121212;
		--content-background-color: #181818;
		--sub-content-background-color: #333;
		--header-background-color: #1a1a1a;
		--footer-background-color: #1a1a1a;
		--color-link: #4e9efd;
		--color-link-active: #bbdfff;
		--color-link-visited: #bbdfff;
		--border-color-dark: #ccc;
		--border-color-light: #333;
	}
}
